hr{
  background-color: grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background-image: url('../images/ep_naturalwhite.png')

}

header {
  background: white;
  margin-top: 20px;
  border-style: solid;
}
h1 {
  padding: 20px 0;
  margin: 20px;
  
  font-size: 28px;
  color: #eee;
  text-align: left;
  margin-left: 8%;
  background-color: #4aaaa5;
  width:14%;
  font-family: "Georgia", Times, "Times New Roman", serif;
}


h2 {
  font-size: 28px;
  font-family: "Georgia", Times, "Times New Roman", serif;
  margin-top: 25px;
  margin-bottom:15px;
  margin-left: 5%;
  color: #4aaaa5;
  font-weight: bold;

}

a {
  color: #d21034;
}
p{
  margin-right: 5%;
  margin-left: 5%;
}

.container {
  width: 1024px;
  margin-left: 8%;

}
.connect_img {
  width: 90px;
  padding: 4px;
}

#main-bio,
#bio-image {
  float: left;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  
}

#main-bio {
  width: 70%;
}

#Connecting {
  width: 30%;
  background-color: white;
  margin-left: 75%;
  padding:10px;
  
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 5%;
}


input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=textbox] {
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}